<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Car Details | CarPlatForm</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
  <header id="header">
    <!--header-->
    <div class="header_top">
      <!--header_top-->
      <div class="container">
        <div class="row">
          <div class="col-sm-6 ">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li><a href=""><i class="fa fa-phone"></i> +1 234 567 89</a></li>
                <li><a href=""><i class="fa fa-envelope"></i> nccucs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/header_top-->
    <div class="header-middle">
      <!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo pull-left">
              <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li><a href=""><i class="fa fa-user"></i> 帳號</a></li>
                <!-- <li><a href=""><i class="fa fa-star"></i> 比較</a></li> -->
                <!-- <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> 清單</a></li> -->
                <li><a href=""><i class="fa fa-lock"></i> 登入</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/header-middle-->
    <div class="header-bottom">
      <!--header-bottom-->
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
            </div>
            <div class="mainmenu pull-left">
              <ul class="nav navbar-nav collapse navbar-collapse">
                <li><a href="/">首頁</a></li>
                <!-- <li><a href="index.html">汽車</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="product-details">
            <!--product-details-->
            <div class="col-sm-5">
              <div class="view-product">
                <img src="images/product-details/1.jpg" alt="" />
                <h3>ZOOM</h3>
              </div>
              <div id="similar-product" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                  </div>
                  <div class="item">
                    <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                    <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                  </div>
                </div>
                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                  </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                  </a>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="product-information ">
                <!--/product-information-->
                <img src="images/product-details/new.jpg " class="newarrival " alt=" " />
                <h2><%= data[0].Label %></h2>
                <p>
                  <%= data[0].SerialNumber %>
                </p>
                <span>
                                    <span>$<%= data[0].SalePrice %></span>
                <!-- <button type="button " class="btn btn-fefault cart ">
                                    <i class="fa fa-shopping-cart "></i> Email Seller
                                </button> -->
                </span>
                <p><b>Mileage:</b>
                  <%= data[0].Mileage %>
                </p>
                <p><b>Years:</b>
                  <%= data[0].Years %>
                </p>
                <p><b>AutomotiveType:</b>
                  <%= data[0].AutomotiveType %>
                </p>
                <p><b>AutomotiveBody:</b>
                  <%= data[0].AutomotiveBody %>
                </p>
                <p><b>AverageSpeed:</b>
                  <%= data[0].AverageSpeed %>
                </p>
                <p><b>Displacement:</b>
                  <%= data[0].Displacement %>
                </p>
                <p><b>FuelConsumptionL:</b>
                  <%= data[0].FuelConsumptionL %>
                </p>
                <p><b>FuelConsumptionH:</b>
                  <%= data[0].FuelConsumptionH %>
                </p>
                <p><b>OriginalPrice:</b>
                  <%= data[0].OriginalPrice %>
                </p>
                <p><b>AccidentRecord:</b>
                  <%= data[0].AccidentRecord %>
                </p>
              </div>
              <!--/product-information-->
            </div>
          </div>
          <!--/product-details-->
          <div class="category-tab shop-details-tab ">
            <!--category-tab-->
            <div class="col-sm-12 ">
              <ul class="nav nav-tabs ">
                <li class="active "><a href="#reviews " data-toggle="tab ">Detail for Seller</a></li>
              </ul>
            </div>
            <div class="tab-content ">
              <div class="tab-pane fade active in " id="reviews ">
                <div class="col-sm-12 ">
                  <ul>
                    <li><a href=" "><i class="fa fa-user "></i><%= data[0].UserID %></a></li>
                    <li><a href=" "><i class="fa fa-calendar-o "></i><%= data[0].AddTime %></a></li>
                  </ul>
                  <p>
                    <p><b>Email:</b>
                      <%= data_user[0].Email %>
                    </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--/category-tab-->
          <!--/recommended_items-->
        </div>
        <% if ( data_maintain != null ){ %>
          <div class="col-sm-3 " style="border: 1px solid #F7F7F0; ">
            <div class="product-details ">
              <div class="col-sm-12 ">
                <br>
                <br>
                <h3>Detail For Car</h3>
                <br>
                <br>
                <% for (var i=0;i<data_maintain.length; i++) {%>

                <p><b>Maintain Time</b>
                  <br>
                  <%= data_maintain[i].addTime %>
                </p>
                <p><b>泡水檢查結果:</b>
                  <%= data_maintain[i].BubbleWaterCheckField %>
                </p>
                <p><b>SteeringWheelBodyCheck:</b>
                  <%= data_maintain[i].SteeringWheelBodyCheck %>
                </p>
                <p><b>MotorBodyCheck:</b>
                  <%= data_maintain[i].MotorBodyCheck %>
                </p>
                <p><b>EngineBodyCheckField:</b>
                  <%= data_maintain[i].EngineBodyCheckField %>
                </p>
                <p><b>VehicleExterior:</b>
                  <%= data_maintain[i].VehicleExterior %>
                </p>
                <p><b>TransmissionBodyCheckField:</b>
                  <%= data_maintain[i].TransmissionBodyCheckField %>
                </p>
                <p><b>EngineNumberField:</b>
                  <%= data_maintain[i].EngineNumberField %>
                </p>
                <p><b>MajorAccidentCheckField:</b>
                  <%= data_maintain[i].MajorAccidentCheckField %>
                </p>
                <p><b>RoadStatusCheck:</b>
                  <%= data_maintain[i].RoadStatusCheck %>
                </p>
                <p><b>FiveOilWaterLightInspectionField:</b>
                  <%= data_maintain[i].FiveOilWaterLightInspectionField %>
                </p>
                <p><b>VehicleEquippedField:</b>
                  <%= data_maintain[i].VehicleEquippedField %>
                </p>

                      <%}%>
              </div>
            </div>
          </div>
          <% } %>
      </div>
  </section>
  <script src="js/jquery.js "></script>
  <script src="js/price-range.js "></script>
  <script src="js/jquery.scrollUp.min.js "></script>
  <script src="js/bootstrap.min.js "></script>
  <script src="js/jquery.prettyPhoto.js "></script>
  <script src="js/main.js "></script>
</body>

</html>
