<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Car Platform</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header_top-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> 帳號</a></li>
                                <!--  <li><a href=""><i class="fa fa-star"></i> 比較</a></li>
                                <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> 清單</a></li> -->
                                <li><a href=""><i class="fa fa-lock"></i> 登入</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/">首頁</a></li>
                                <!-- <li><a href="index.html">汽車</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="搜尋" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <!--/category-productsr-->
                        <div class="brands_products">
                            <!--brands_products-->
                            <h2>品牌</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <% for ( var i = 0  ; i <carData.length ; i++){ %>
                                        <li><a href="?label=<%= carData[i].Label%>"> <span class="pull-right"></span> <%= carData[i].Label%></a></li>
                                        <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">主打車款</h2>
                        <% if ( data != null ){ %>
                            <% for ( var i = 0  ; i <data.length ; i++){ %>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="images/shop/product12.jpg" alt="" />
                                                <h2>$<%= data[i].SalePrice %></h2>
                                                <p>
                                                    <%= data[i].Label%>
                                                        <%= data[i].Years%>年
                                                            <%= data[i].AutomotiveBody %>
                                                                <%= data[i].AutomotiveType %>
                                                </p>
                                                <br>
                                                <!-- <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>加入清單</a> -->
                                            </div>
                                            <a href="detail?SerialNumber=<%= data[i].SerialNumber %>" class="product-overlay">
                                                <div class="overlay-content">
                                                    <h2>$<%= data[i].SalePrice %></h2>
                                                    <p>
                                                        <%= data[i].Label%>
                                                            <%= data[i].Years%>年
                                                                <%= data[i].AutomotiveBody %>
                                                                    <%= data[i].AutomotiveType %>
                                                    </p>
                                                    </p>
                                                    <br>
                                                    <!-- <a href="detail?SerialNumber=<%= data[i].SerialNumber %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>加入清單</a> -->
                                                </div>
                                            </a>
                                        </div>
                                        <!-- <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href=""><i class="fa fa-plus-square"></i>加入比較</a></li>
                                            <li><a href=""><i class="fa fa-plus-square"></i>稍後觀看</a></li>
                                        </ul>
                                    </div> -->
                                    </div>
                                </div>
                                <% }} %>
                    </div>
                    <!--features_items-->
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>

</html>